<div class="page-footer">
    <div class="page-footer-inner">Copyright 2021 &copy; <strong>Điện Nước Trần Chí</strong>. All rights reserved.</div>
    <div class="scroll-to-top"><i class="icon-arrow-up"></i></div>
</div>